# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
*.egg-info/

# IDE
.vscode/
.idea/

# Project specific
*.db
logs/*.log
temp/*
reports/*
samples/malicious/*
yara_rules/remote/

# OS
.DS_Store
Thumbs.db

/frontend/node_modules/
/frontend/dist/
/frontend/out/
/frontend/release/
